<div class="container">
  <div class="row">
    <div class="col-3 col-center">
      <h1>Login</h1>

      <%= form_tag '/login', class: "form" do %>

        Email: <%= text_field_tag :email, nil, class: "form__input" %> <br />
        Password: <%= password_field_tag :password, nil, class: "form__input" %> <br />
        <%= submit_tag  :Login, class: "form__submit--black" %>

      <% end %>
    </div>
  </div>
</div>
