// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 55px;
  line-height: 55px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-bottom: 1px solid #cacaca;
}

.header__brand{
  float: left;
  font-size: 1.25em;
  margin-right: 20px;

  a{
    color: #333;
  }
}

.header__nav{
  margin: 0;
}

.header__nav__link{
  float: left;
  list-style: none;
  margin-left: 17px;
}

.header__nav__link--right{
  @extend .header__nav__link;
  float: right;
}